<header class="site-header">
  <div class="header-container">
    <div class="header-content">
      <a href="{{ '/' | prepend: site.baseurl }}" class="header-link">
        <h1 class="site-title">
          <div class="title-with-logo">
            <img src="{{ '/assets/images/logo.png' | prepend: site.baseurl }}" alt="FRC Team 1073 Logo" class="logo-inline">
            <div class="title-text-block">
              <span class="title-text">The Force Team</span>
              <p class="site-subtitle">FRC 1073</p>
            </div>
          </div>
        </h1>
      </a>
    </div>
  </div>
</header>
